@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
body {
    background-color: #ccc;
    font-family: 'Libre Franklin', sans-serif;
    font-size:  20px;

}
.container {
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 14px;
    text-align: center;
    justify-content: center;
    background-color: white
}
.main-container{
  
    margin-top: 48px;
    padding-top: 48px;
}
.header-logo{
    width: 15%;
    margin: auto;
    display: block;
 
    padding: 24px;

}
h1{
    font-weight:100;
    color: hsl(0, 0%, 59%);
}
strong{
    font-weight: 800;
    color: hsl(209, 33%, 12%)
}
.header-text {
    font-weight: 200;
    margin-top: -12px;
    margin-bottom: 32px;
    color: hsl(209, 33%, 12%);
}
.input-email{
    width: 35%;
    height: 40px;
    border-radius: 24px;
    border: 1px solid #ccc;
    margin-right: 16px;
}

::placeholder {
    color: #ccc;
    background-color: white;
    font-size: 1.1em;
}


.button {
    width: 18%;
    height: 44px;
    border-radius: 24px;
    border: none;
    background-color: hsl(223, 87%, 63%);
    color:white;
    font-weight: 600;
    display: inline;

}
#text-value{
    color: hsl(354, 100%, 66%);
    font-size: .8em;
   text-align:start;
   padding-left: 200px;


}
.img-dashboard{
    width: 60%;
    margin-top: 64px;
    margin-bottom: 32px;
}
ion-icon {
    color: hsl(223, 87%, 63%);
    border-radius: 50%;
    padding: 6px;
    border: 1px solid #ccc ;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 32px;

  
  }
  .end-text {
 padding-bottom: 32px;
 font-size: .7em;
 color:hsl(0, 0%, 59%)
 

  }
  @media only screen and (max-width: 800px) {
   
    
    h1{
        font-size: 1.5em;
    }
    
    .header-text {
   
        font-size: .7em;
    }
    .input-email{
        width: 80%;
        margin-bottom: 24px;
     
     
    }
    .button {
        width: 80%;
     
    }
    #text-value{
        color: hsl(354, 100%, 66%);
        font-size: .8em;
       text-align:center;
       padding-left: 0;
    
    
    }
    .img-dashboard{
        width: 80%;
        margin-bottom: 100px;
    }
    ion-icon {
        font-size: 24px;

    }
    
}

  @media only screen and (max-width: 600px) {
  }
